@using HopNguyenModel
@{
    var content = new Content();
    var module = new Module();
}
<footer id="footer" class="dark">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span>Dịch thuật đông á</span>
            </div>
            <div class="col-md-5">
                <div class="newsletter">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.270932000908!2d105.83795000000002!3d21.010994000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDAwJzM5LjYiTiAxMDXCsDUwJzE2LjYiRQ!5e0!3m2!1svi!2s!4v1425805395257" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-details">
                    <h4>LIÊN HỆ</h4>
                    <ul class="contact">
                           <li>
                            <b>
                                CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH THUẬT ĐÔNG Á
                                (DONG A TRANSLATION Co., LTD)
                            </b>
                        </li>
                        <li>
                            <p><i class="fa fa-map-marker"></i><strong>Address:</strong> Số 1, ngõ 150 phố Kim Hoa, Đống Đa, Hà Nội</p>
                        </li>
                        <li>
                            <p><i class="fa fa-phone"></i><strong>Phone:</strong> 096 457 5858</p>
                        </li>
                        <li>
                            <p><i class="fa fa-envelope"></i><strong>Email:</strong> <a href="mailto:dichthuatdonga@gmail.com">dichthuatdonga@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Mạng xã hội</h4>
                <div class="social-icons">
                    <ul class="social-icons">
                        <li class="facebook"><a href="https://www.facebook.com/775096412531371" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="https://twitter.com/dichthuatdonga" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="https://plus.google.com/102397380177231200136" target="_blank" data-placement="bottom" data-tooltip title="Google">Google+</a></li>
                    </ul>
                </div>
                <h4>Cam kết chất lượng</h4>
                <div class="social-icons">
                    <ul class="qua-icon">
                       <li>
                                <img src="/Frontend/img/chatluongcao.png" alt="chất lượng cao" title="Chất lượng cao">
                            </li>
                            <li>
                                <img src="/Frontend/img/giacanhtranh.png" alt="Giá cạnh tranh" title="Giá cạnh tranh">
                            </li>
                            <li>
                                <img src="/Frontend/img/hailong.png" alt="100% hài lòng" title="100% hài lòng">
                            </li>   </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>© Copyright 2014 Bản quyền thuộc về Dong A Translation..</p>
                </div>
                <div class="col-md-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="/">FAQ's</a></li>
                            <li><a href="/">Sitemap</a></li>
                            <li><a href="/">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
