<div class="row alert alert-info">
    <div class="text-center">
        <h1 style="line-height: 128px; font-size: 150px; font-weight: 200; color: #7bbbd6;margin-top:50px">404</h1>
        <h3 style="font-size: 23px; padding-bottom: 20px;">PAGE NOT FOUND !</h3>
        <p></p>
    </div>
</div>
