<div class="box-big">
    <div class="box-big-top">
        <h3>Thành công</h3>
    </div>
    <div class="box-big-bg">
        <div class="text-box-big">
            <div style="padding: 20px; text-align: center">
                Cảm ơn bạn đã đến với website chúng tôi. Thông tin đã được gửi đi.<br/><a href="/">Về trang chủ</a>
            </div>
        </div>
    </div>
</div>